<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- WEB SITE INFORMATION
    Hosts: https://admin.1and1.co.uk/ 
    a/c 3397144 p/w zzz8PHB8
    supports parkhousebarn.co.uk
              parkhouseschool.biz
              parkhouseschool.co.uk
              parkhouseschool.net 
    -->
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
    <customErrors mode="RemoteOnly" />
  </system.web>
</configuration>
